openapi: 3.1.0
info:
  title: Planable Public Posts API
  version: 1.0.0
  description: 'REST API for managing Planable companies, workspaces, pages, posts and more.


    **Plan eligibility:** new API tokens can only be generated by companies on the **Pro** and **Enterprise**
    plans. Tokens that have already been generated continue to work regardless of plan.'
servers:
- url: https://api.planable.io/api/v1
security:
- bearerAuth: []
tags:
- name: Posts
paths:
  /posts:
    get:
      tags:
      - Posts
      summary: List posts
      description: Returns posts for a workspace with pagination. Each item includes the same post detail
        fields as GET /posts/{id}.
      parameters:
      - name: workspaceId
        in: query
        required: true
        schema:
          type: string
      - name: pageId
        in: query
        required: false
        schema:
          type: string
      - name: campaignId
        in: query
        required: false
        schema:
          type: string
        description: Filter by campaign ID, or `no-campaign` for posts not assigned to any campaign
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of post details with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        workspaceId:
                          type: string
                        pageId:
                          type: string
                        type:
                          type: string
                        classification:
                          type: string
                        plainText:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        gridPosition:
                          type: number
                        campaignId:
                          type:
                          - string
                          - 'null'
                        media:
                          type: array
                          items:
                            type: string
                            format: uri
                          maxItems: 20
                          description: Up to 20 public image or video URLs, each max 100MB. Files are
                            downloaded server-side from the provided URLs.
                        scheduledAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        status:
                          type: string
                        approved:
                          type: boolean
                        approvedBy:
                          type: array
                          items:
                            type: object
                            properties:
                              userId:
                                type: string
                              approvedAt:
                                type: string
                                format: date-time
                              levelId:
                                type: string
                            required:
                            - userId
                            - approvedAt
                        approval:
                          type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - NOT_APPLICABLE
                              - NEVER_SENT
                              - PENDING
                              - PARTIALLY_APPROVED
                              - FULLY_APPROVED
                            approved:
                              type: boolean
                            type:
                              type: string
                              enum:
                              - NONE
                              - OPTIONAL
                              - REQUIRED
                              - MULTIPLE
                            completedLevels:
                              type: integer
                              minimum: 0
                            totalLevels:
                              type: integer
                              minimum: 0
                            currentLevelId:
                              type: string
                            levels:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  label:
                                    type: string
                                  approved:
                                    type: boolean
                                  approvedBy:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        userId:
                                          type: string
                                        approvedAt:
                                          type: string
                                          format: date-time
                                        levelId:
                                          type: string
                                      required:
                                      - userId
                                      - approvedAt
                                required:
                                - id
                                - label
                                - approved
                                - approvedBy
                          required:
                          - status
                          - approved
                          - type
                          - completedLevels
                          - totalLevels
                          - levels
                        published:
                          type: boolean
                        scheduledSet:
                          type: boolean
                        teamOnly:
                          type: boolean
                        archived:
                          type: boolean
                        modifiedAt:
                          type: string
                          format: date-time
                        mediaType:
                          type: string
                        videoThumbnailUrl:
                          type: string
                          format: uri
                          description: Current thumbnail (cover) URL of the post video, when the post
                            has a video with a thumbnail.
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              uuid:
                                type: string
                              text:
                                type: string
                              color:
                                type: string
                            required:
                            - uuid
                            - text
                            - color
                        commentsCounter:
                          type: number
                        notesCounter:
                          type: number
                        publicShareLink:
                          type: string
                          format: uri
                        publishedPostLink:
                          type: string
                          format: uri
                        groupId:
                          type: string
                        groupPageIds:
                          type: array
                          items:
                            type: string
                        groupSync:
                          type: boolean
                        pinterest:
                          type: object
                          properties:
                            boardId:
                              type: string
                            boardName:
                              type: string
                            title:
                              type:
                              - string
                              - 'null'
                            link:
                              type:
                              - string
                              - 'null'
                            description:
                              type:
                              - string
                              - 'null'
                          required:
                          - boardId
                          - boardName
                          - title
                          - link
                          - description
                      required:
                      - id
                      - workspaceId
                      - pageId
                      - type
                      - classification
                      - plainText
                      - createdAt
                      - campaignId
                      - media
                      - scheduledAt
                      - status
                      - approved
                      - approval
                      - published
                      - scheduledSet
                      - teamOnly
                      - archived
                      - commentsCounter
                      - notesCounter
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: number
                      limit:
                        type: number
                      hasMore:
                        type: boolean
                    required:
                    - offset
                    - limit
                    - hasMore
                required:
                - data
                - pagination
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Posts
      summary: Create a new post
      description: 'Creates a post in the specified workspace and page. Use `pageId` for a single post
        or `pageIds` to create grouped cross-page posts. When `media` URLs are provided for grouped posts,
        each file is imported into the workspace Media Library once and the same asset is reused across
        every post in the group instead of being copied per platform. The `notify` flag controls whether
        workspace members receive a post-added notification (email/in-app push); set it to `false` to
        suppress those notifications. Internal activity feed entries are always recorded. `notify` is
        not an approval request — use POST /posts/{id}/request-approval to notify approvers. The `media`
        field: Up to 20 public image or video URLs, each max 100MB. Files are downloaded server-side from
        the provided URLs. Use `videoThumbnail` to set a custom video thumbnail (cover); it requires a
        video in `media` that finishes transcoding during the request, otherwise the request returns 400
        after the post is created — in that case, retry via PATCH /posts/{id} once the video is processed.'
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  minLength: 1
                pageId:
                  type: string
                  minLength: 1
                pageIds:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 20
                text:
                  type: string
                  maxLength: 25000
                  default: ''
                gridPosition:
                  type: integer
                  minimum: 0
                scheduledAt:
                  type: string
                  format: date-time
                labels:
                  type: array
                  items:
                    type: string
                  default: []
                media:
                  type: array
                  items:
                    type: string
                    format: uri
                  maxItems: 20
                  default: []
                  description: Up to 20 public image or video URLs, each max 100MB. Files are downloaded
                    server-side from the provided URLs.
                teamOnly:
                  type: boolean
                approved:
                  type: boolean
                approvedBy:
                  type: string
                  minLength: 1
                publishAtScheduledDate:
                  type: boolean
                  default: false
                firstComment:
                  type: string
                  maxLength: 8000
                internalNote:
                  type: string
                  maxLength: 8000
                youtubeTitle:
                  type: string
                  maxLength: 100
                linkedinPdfTitle:
                  type: string
                  maxLength: 150
                  description: LinkedIn PDF carousel title (`linkedinData.pdfTitle`). When set on a LinkedIn
                    post with multiple images, also enables publishing as a PDF document carousel (`linkedinData.publishCarouselAsPdf`).
                    Pass an empty string on PATCH to disable PDF mode and clear the title.
                linkedinVideoTitle:
                  type: string
                  maxLength: 150
                notify:
                  type: boolean
                  default: true
                  description: Controls whether workspace members receive a post-added notification (email/in-app
                    push). This is not an approval request — use POST /posts/{id}/request-approval to
                    notify approvers.
                pinterest:
                  type: object
                  properties:
                    boardId:
                      type: string
                      minLength: 1
                    title:
                      type: string
                      maxLength: 100
                    link:
                      type: string
                      format: uri
                    description:
                      type: string
                      maxLength: 500
                  required:
                  - boardId
                campaignId:
                  anyOf:
                  - type: string
                    minLength: 1
                  - type: 'null'
                  - type: 'null'
                videoThumbnail:
                  type: object
                  properties:
                    imageUrl:
                      type: string
                      format: uri
                      description: Public URL of a static image that is uploaded and set as the video
                        thumbnail (cover).
                    offsetSeconds:
                      type: number
                      minimum: 0
                      description: Offset into the video, in seconds; the frame at this position is extracted
                        and set as the thumbnail.
                  description: Sets a custom thumbnail on the post video (the single video, or the first
                    video for mixed media). Requires the video to be fully transcoded.
              required:
              - workspaceId
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        workspaceId:
                          type: string
                        pageId:
                          type: string
                        type:
                          type: string
                        classification:
                          type: string
                        plainText:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        gridPosition:
                          type: number
                        campaignId:
                          type:
                          - string
                          - 'null'
                        media:
                          type: array
                          items:
                            type: string
                            format: uri
                          maxItems: 20
                          description: Up to 20 public image or video URLs, each max 100MB. Files are
                            downloaded server-side from the provided URLs.
                        scheduledAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        status:
                          type: string
                        approved:
                          type: boolean
                        approvedBy:
                          type: array
                          items:
                            type: object
                            properties:
                              userId:
                                type: string
                              approvedAt:
                                type: string
                                format: date-time
                              levelId:
                                type: string
                            required:
                            - userId
                            - approvedAt
                        approval:
                          type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - NOT_APPLICABLE
                              - NEVER_SENT
                              - PENDING
                              - PARTIALLY_APPROVED
                              - FULLY_APPROVED
                            approved:
                              type: boolean
                            type:
                              type: string
                              enum:
                              - NONE
                              - OPTIONAL
                              - REQUIRED
                              - MULTIPLE
                            completedLevels:
                              type: integer
                              minimum: 0
                            totalLevels:
                              type: integer
                              minimum: 0
                            currentLevelId:
                              type: string
                            levels:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  label:
                                    type: string
                                  approved:
                                    type: boolean
                                  approvedBy:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        userId:
                                          type: string
                                        approvedAt:
                                          type: string
                                          format: date-time
                                        levelId:
                                          type: string
                                      required:
                                      - userId
                                      - approvedAt
                                required:
                                - id
                                - label
                                - approved
                                - approvedBy
                          required:
                          - status
                          - approved
                          - type
                          - completedLevels
                          - totalLevels
                          - levels
                        published:
                          type: boolean
                        scheduledSet:
                          type: boolean
                        teamOnly:
                          type: boolean
                        archived:
                          type: boolean
                        modifiedAt:
                          type: string
                          format: date-time
                        mediaType:
                          type: string
                        videoThumbnailUrl:
                          type: string
                          format: uri
                          description: Current thumbnail (cover) URL of the post video, when the post
                            has a video with a thumbnail.
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              uuid:
                                type: string
                              text:
                                type: string
                              color:
                                type: string
                            required:
                            - uuid
                            - text
                            - color
                        commentsCounter:
                          type: number
                        notesCounter:
                          type: number
                        publicShareLink:
                          type: string
                          format: uri
                        publishedPostLink:
                          type: string
                          format: uri
                        groupId:
                          type: string
                        groupPageIds:
                          type: array
                          items:
                            type: string
                        groupSync:
                          type: boolean
                        pinterest:
                          type: object
                          properties:
                            boardId:
                              type: string
                            boardName:
                              type: string
                            title:
                              type:
                              - string
                              - 'null'
                            link:
                              type:
                              - string
                              - 'null'
                            description:
                              type:
                              - string
                              - 'null'
                          required:
                          - boardId
                          - boardName
                          - title
                          - link
                          - description
                      required:
                      - id
                      - workspaceId
                      - pageId
                      - type
                      - classification
                      - plainText
                      - createdAt
                      - campaignId
                      - media
                      - scheduledAt
                      - status
                      - approved
                      - approval
                      - published
                      - scheduledSet
                      - teamOnly
                      - archived
                      - commentsCounter
                      - notesCounter
                required:
                - posts
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace or page not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}:
    get:
      tags:
      - Posts
      summary: Get post detail
      description: Returns a single post by ID including media URLs.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Post detail with media
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      workspaceId:
                        type: string
                      pageId:
                        type: string
                      type:
                        type: string
                      classification:
                        type: string
                      plainText:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                      gridPosition:
                        type: number
                      campaignId:
                        type:
                        - string
                        - 'null'
                      media:
                        type: array
                        items:
                          type: string
                          format: uri
                        maxItems: 20
                        description: Up to 20 public image or video URLs, each max 100MB. Files are downloaded
                          server-side from the provided URLs.
                      scheduledAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      status:
                        type: string
                      approved:
                        type: boolean
                      approvedBy:
                        type: array
                        items:
                          type: object
                          properties:
                            userId:
                              type: string
                            approvedAt:
                              type: string
                              format: date-time
                            levelId:
                              type: string
                          required:
                          - userId
                          - approvedAt
                      approval:
                        type: object
                        properties:
                          status:
                            type: string
                            enum:
                            - NOT_APPLICABLE
                            - NEVER_SENT
                            - PENDING
                            - PARTIALLY_APPROVED
                            - FULLY_APPROVED
                          approved:
                            type: boolean
                          type:
                            type: string
                            enum:
                            - NONE
                            - OPTIONAL
                            - REQUIRED
                            - MULTIPLE
                          completedLevels:
                            type: integer
                            minimum: 0
                          totalLevels:
                            type: integer
                            minimum: 0
                          currentLevelId:
                            type: string
                          levels:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                label:
                                  type: string
                                approved:
                                  type: boolean
                                approvedBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      userId:
                                        type: string
                                      approvedAt:
                                        type: string
                                        format: date-time
                                      levelId:
                                        type: string
                                    required:
                                    - userId
                                    - approvedAt
                              required:
                              - id
                              - label
                              - approved
                              - approvedBy
                        required:
                        - status
                        - approved
                        - type
                        - completedLevels
                        - totalLevels
                        - levels
                      published:
                        type: boolean
                      scheduledSet:
                        type: boolean
                      teamOnly:
                        type: boolean
                      archived:
                        type: boolean
                      modifiedAt:
                        type: string
                        format: date-time
                      mediaType:
                        type: string
                      videoThumbnailUrl:
                        type: string
                        format: uri
                        description: Current thumbnail (cover) URL of the post video, when the post has
                          a video with a thumbnail.
                      labels:
                        type: array
                        items:
                          type: object
                          properties:
                            uuid:
                              type: string
                            text:
                              type: string
                            color:
                              type: string
                          required:
                          - uuid
                          - text
                          - color
                      commentsCounter:
                        type: number
                      notesCounter:
                        type: number
                      publicShareLink:
                        type: string
                        format: uri
                      publishedPostLink:
                        type: string
                        format: uri
                      groupId:
                        type: string
                      groupPageIds:
                        type: array
                        items:
                          type: string
                      groupSync:
                        type: boolean
                      pinterest:
                        type: object
                        properties:
                          boardId:
                            type: string
                          boardName:
                            type: string
                          title:
                            type:
                            - string
                            - 'null'
                          link:
                            type:
                            - string
                            - 'null'
                          description:
                            type:
                            - string
                            - 'null'
                        required:
                        - boardId
                        - boardName
                        - title
                        - link
                        - description
                    required:
                    - id
                    - workspaceId
                    - pageId
                    - type
                    - classification
                    - plainText
                    - createdAt
                    - campaignId
                    - media
                    - scheduledAt
                    - status
                    - approved
                    - approval
                    - published
                    - scheduledSet
                    - teamOnly
                    - archived
                    - commentsCounter
                    - notesCounter
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Posts
      summary: Delete a post
      description: Deletes a post in a workspace accessible to the calling token.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Post deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Posts
      summary: Update a post
      description: 'Updates a post. Published posts are immutable and will return 400. The `media` field:
        Up to 20 public image or video URLs, each max 100MB. Files are downloaded server-side from the
        provided URLs. Pass an empty array to clear media. Stories support a single, non-GIF media item;
        submitting multiple media URLs or a GIF for a story returns 400. Set `archived` to `true` to archive
        a post or `false` to restore it; archiving removes any active schedule. Use `videoThumbnail` to
        set a custom video thumbnail (cover) from an image URL or from a video frame offset; the post
        must have a fully transcoded video (the first video is used for mixed media). Set `notify` to
        `false` to suppress notifications (email/in-app push, Zapier) for the edit activities created
        by this update; internal activity feed entries are always recorded. `notify` modifies nothing
        by itself, so it does not count towards the at-least-one-field requirement. It is not an approval
        request — use POST /posts/{id}/request-approval to notify approvers.'
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  maxLength: 25000
                scheduledAt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                labels:
                  type: array
                  items:
                    type: string
                media:
                  type: array
                  items:
                    type: string
                    format: uri
                  maxItems: 20
                  description: Up to 20 public image or video URLs, each max 100MB. Files are downloaded
                    server-side from the provided URLs.
                teamOnly:
                  type: boolean
                approved:
                  type: boolean
                approvedBy:
                  type: string
                  minLength: 1
                linkedinPdfTitle:
                  type: string
                  maxLength: 150
                  description: LinkedIn PDF carousel title (`linkedinData.pdfTitle`). When set on a LinkedIn
                    post with multiple images, also enables publishing as a PDF document carousel (`linkedinData.publishCarouselAsPdf`).
                    Pass an empty string on PATCH to disable PDF mode and clear the title.
                linkedinVideoTitle:
                  type: string
                  maxLength: 150
                pinterest:
                  type: object
                  properties:
                    boardId:
                      type: string
                      minLength: 1
                    title:
                      type: string
                      maxLength: 100
                    link:
                      type: string
                      format: uri
                    description:
                      type: string
                      maxLength: 500
                publishAtScheduledDate:
                  type: boolean
                archived:
                  type: boolean
                campaignId:
                  anyOf:
                  - type: string
                    minLength: 1
                  - type: 'null'
                  - type: 'null'
                notify:
                  type: boolean
                  description: When false, the edit activities created by this update do not trigger notifications
                    (email/in-app push, Zapier). Modifies nothing by itself, so at least one other field
                    must be provided.
                videoThumbnail:
                  type: object
                  properties:
                    imageUrl:
                      type: string
                      format: uri
                      description: Public URL of a static image that is uploaded and set as the video
                        thumbnail (cover).
                    offsetSeconds:
                      type: number
                      minimum: 0
                      description: Offset into the video, in seconds; the frame at this position is extracted
                        and set as the thumbnail.
                  description: Sets a custom thumbnail on the post video (the single video, or the first
                    video for mixed media). Requires the video to be fully transcoded.
      responses:
        '200':
          description: Updated post detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      workspaceId:
                        type: string
                      pageId:
                        type: string
                      type:
                        type: string
                      classification:
                        type: string
                      plainText:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                      gridPosition:
                        type: number
                      campaignId:
                        type:
                        - string
                        - 'null'
                      media:
                        type: array
                        items:
                          type: string
                          format: uri
                        maxItems: 20
                        description: Up to 20 public image or video URLs, each max 100MB. Files are downloaded
                          server-side from the provided URLs.
                      scheduledAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      status:
                        type: string
                      approved:
                        type: boolean
                      approvedBy:
                        type: array
                        items:
                          type: object
                          properties:
                            userId:
                              type: string
                            approvedAt:
                              type: string
                              format: date-time
                            levelId:
                              type: string
                          required:
                          - userId
                          - approvedAt
                      approval:
                        type: object
                        properties:
                          status:
                            type: string
                            enum:
                            - NOT_APPLICABLE
                            - NEVER_SENT
                            - PENDING
                            - PARTIALLY_APPROVED
                            - FULLY_APPROVED
                          approved:
                            type: boolean
                          type:
                            type: string
                            enum:
                            - NONE
                            - OPTIONAL
                            - REQUIRED
                            - MULTIPLE
                          completedLevels:
                            type: integer
                            minimum: 0
                          totalLevels:
                            type: integer
                            minimum: 0
                          currentLevelId:
                            type: string
                          levels:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                label:
                                  type: string
                                approved:
                                  type: boolean
                                approvedBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      userId:
                                        type: string
                                      approvedAt:
                                        type: string
                                        format: date-time
                                      levelId:
                                        type: string
                                    required:
                                    - userId
                                    - approvedAt
                              required:
                              - id
                              - label
                              - approved
                              - approvedBy
                        required:
                        - status
                        - approved
                        - type
                        - completedLevels
                        - totalLevels
                        - levels
                      published:
                        type: boolean
                      scheduledSet:
                        type: boolean
                      teamOnly:
                        type: boolean
                      archived:
                        type: boolean
                      modifiedAt:
                        type: string
                        format: date-time
                      mediaType:
                        type: string
                      videoThumbnailUrl:
                        type: string
                        format: uri
                        description: Current thumbnail (cover) URL of the post video, when the post has
                          a video with a thumbnail.
                      labels:
                        type: array
                        items:
                          type: object
                          properties:
                            uuid:
                              type: string
                            text:
                              type: string
                            color:
                              type: string
                          required:
                          - uuid
                          - text
                          - color
                      commentsCounter:
                        type: number
                      notesCounter:
                        type: number
                      publicShareLink:
                        type: string
                        format: uri
                      publishedPostLink:
                        type: string
                        format: uri
                      groupId:
                        type: string
                      groupPageIds:
                        type: array
                        items:
                          type: string
                      groupSync:
                        type: boolean
                      pinterest:
                        type: object
                        properties:
                          boardId:
                            type: string
                          boardName:
                            type: string
                          title:
                            type:
                            - string
                            - 'null'
                          link:
                            type:
                            - string
                            - 'null'
                          description:
                            type:
                            - string
                            - 'null'
                        required:
                        - boardId
                        - boardName
                        - title
                        - link
                        - description
                    required:
                    - id
                    - workspaceId
                    - pageId
                    - type
                    - classification
                    - plainText
                    - createdAt
                    - campaignId
                    - media
                    - scheduledAt
                    - status
                    - approved
                    - approval
                    - published
                    - scheduledSet
                    - teamOnly
                    - archived
                    - commentsCounter
                    - notesCounter
                required:
                - data
        '400':
          description: Validation error or post is already published
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/metrics:
    get:
      tags:
      - Posts
      summary: Get post metrics
      description: Returns the latest metrics snapshot for a published post.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Latest metrics snapshot for the post
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postId:
                        type: string
                      pageId:
                        type: string
                      pageType:
                        type: string
                      fetchedAt:
                        type: string
                        format: date-time
                      impressions:
                        type: number
                      engagement:
                        type: number
                      reactions:
                        type: number
                      facebook:
                        type: object
                        properties: {}
                      instagram:
                        type: object
                        properties: {}
                      linkedin:
                        type: object
                        properties: {}
                      tiktok:
                        type: object
                        properties: {}
                      threads:
                        type: object
                        properties: {}
                      youtube:
                        type: object
                        properties: {}
                    required:
                    - postId
                    - pageId
                    - pageType
                    - fetchedAt
                    - impressions
                    - engagement
                    - reactions
                required:
                - data
        '400':
          description: Post is not published
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post not found or metrics missing
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/sync:
    post:
      tags:
      - Posts
      summary: Trigger post metrics sync
      description: Triggers a fresh metrics sync for a published post.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Post metrics sync queued or deduplicated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postId:
                        type: string
                      started:
                        type: boolean
                      message:
                        type: string
                    required:
                    - postId
                    - started
                    - message
                required:
                - data
        '400':
          description: Post is not published
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/sync-status:
    get:
      tags:
      - Posts
      summary: Get post metrics sync status
      description: Returns whether a post metrics sync is in progress and when metrics last synced.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Post metrics sync status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postId:
                        type: string
                      syncInProgress:
                        type: boolean
                      lastSyncedAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                    required:
                    - postId
                    - syncInProgress
                    - lastSyncedAt
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/share:
    post:
      tags:
      - Posts
      summary: Create a public share link
      description: 'Generates a client-shareable public link for a post. Idempotent: if the post is already
        shared, returns the existing link. Grouped posts share a single link across the group.'
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Public share link for the post
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      publicShareLink:
                        type: string
                        format: uri
                    required:
                    - publicShareLink
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Posts
      summary: Revoke the public share link
      description: 'Removes the public share link from a post. Idempotent: returns 204 even if the post
        is not shared.'
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Public share link revoked
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/reorder:
    patch:
      tags:
      - Posts
      summary: Reorder posts in the grid
      description: 'Sets zero-based grid positions for posts using the order of `postIds`. The first ID
        receives `gridPosition: 0`, the second receives `gridPosition: 1`, and so on.'
      security:
      - bearerAuth:
        - write
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  minLength: 1
                postIds:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 500
              required:
              - workspaceId
              - postIds
      responses:
        '200':
          description: Posts reordered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      posts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            gridPosition:
                              type: number
                          required:
                          - id
                          - gridPosition
                    required:
                    - posts
                required:
                - data
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace or post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/request-approval:
    post:
      tags:
      - Posts
      summary: Send a post for approval
      description: Notifies the given workspace members to review and approve the post. Approvers must
        be members of the post workspace; for team-only posts only team members are notified. Optionally
        pass `levelId` to target a specific approval level on workspaces with multi-level approval, and
        `note` to include a message in the notification.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approverIds:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 100
                levelId:
                  type: string
                note:
                  type: string
                  maxLength: 2000
              required:
              - approverIds
      responses:
        '200':
          description: Approval request sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      postId:
                        type: string
                      notifiedUserIds:
                        type: array
                        items:
                          type: string
                      levelId:
                        type: string
                    required:
                    - postId
                    - notifiedUserIds
                    - levelId
                required:
                - data
        '400':
          description: 'Validation error: an approver is not a workspace member, only client users were
            provided for a team-only post, or the post is already published'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/count:
    get:
      tags:
      - Posts
      summary: Get total posts count
      description: Returns the total number of posts across all workspaces the token has access to.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Total posts count and per-workspace breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      workspaces:
                        type: array
                        items:
                          type: object
                          properties:
                            workspaceId:
                              type: string
                            count:
                              type: number
                          required:
                          - workspaceId
                          - count
                    required:
                    - total
                    - workspaces
                required:
                - data
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/comments:
    get:
      tags:
      - Posts
      summary: List comments on a post
      description: Returns comments for a post with pagination.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: teamOnly
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List of comments with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        postId:
                          type: string
                        text:
                          type: string
                        authorId:
                          type: string
                        teamOnly:
                          type: boolean
                        replyFor:
                          type: string
                        reactions:
                          type: array
                          items:
                            type: object
                            properties:
                              emoji:
                                type: string
                              emojiId:
                                type: string
                              emojiSkin:
                                type: integer
                              emojiNative:
                                type: string
                              users:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    userId:
                                      type: string
                                    userName:
                                      type: string
                                    createdAt:
                                      type: string
                                      format: date-time
                                  required:
                                  - userId
                            required:
                            - emoji
                            - emojiId
                            - emojiSkin
                            - emojiNative
                            - users
                        createdAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - postId
                      - text
                      - authorId
                      - teamOnly
                      - reactions
                      - createdAt
                  pagination:
                    type: object
                    properties:
                      offset:
                        type: number
                      limit:
                        type: number
                      hasMore:
                        type: boolean
                    required:
                    - offset
                    - limit
                    - hasMore
                required:
                - data
                - pagination
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Posts
      summary: Add a comment to a post
      description: Creates a new comment on a post. Pass replyToCommentId to create a threaded reply to
        an existing comment on the same post.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  minLength: 1
                teamOnly:
                  type: boolean
                  default: false
                replyToCommentId:
                  type: string
                  minLength: 1
              required:
              - text
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      postId:
                        type: string
                      text:
                        type: string
                      authorId:
                        type: string
                      teamOnly:
                        type: boolean
                      replyFor:
                        type: string
                      reactions:
                        type: array
                        items:
                          type: object
                          properties:
                            emoji:
                              type: string
                            emojiId:
                              type: string
                            emojiSkin:
                              type: integer
                            emojiNative:
                              type: string
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  userId:
                                    type: string
                                  userName:
                                    type: string
                                  createdAt:
                                    type: string
                                    format: date-time
                                required:
                                - userId
                          required:
                          - emoji
                          - emojiId
                          - emojiSkin
                          - emojiNative
                          - users
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - postId
                    - text
                    - authorId
                    - teamOnly
                    - reactions
                    - createdAt
                required:
                - data
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/comments/{commentId}:
    patch:
      tags:
      - Posts
      summary: Update a comment on a post
      description: Updates the text of a comment. Only the comment author (the user who created the API
        token) can edit it.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 8000
              required:
              - text
      responses:
        '200':
          description: Comment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      postId:
                        type: string
                      text:
                        type: string
                      authorId:
                        type: string
                      teamOnly:
                        type: boolean
                      replyFor:
                        type: string
                      reactions:
                        type: array
                        items:
                          type: object
                          properties:
                            emoji:
                              type: string
                            emojiId:
                              type: string
                            emojiSkin:
                              type: integer
                            emojiNative:
                              type: string
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  userId:
                                    type: string
                                  userName:
                                    type: string
                                  createdAt:
                                    type: string
                                    format: date-time
                                required:
                                - userId
                          required:
                          - emoji
                          - emojiId
                          - emojiSkin
                          - emojiNative
                          - users
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - postId
                    - text
                    - authorId
                    - teamOnly
                    - reactions
                    - createdAt
                required:
                - data
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Only the comment author can edit it
        '404':
          description: Post or comment not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Posts
      summary: Delete a comment from a post
      description: Deletes a comment and its replies. Only the comment author (the user who created the
        API token) can delete it.
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Comment deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Only the comment author can delete it
        '404':
          description: Post or comment not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /posts/{id}/comments/{commentId}/reactions:
    post:
      tags:
      - Posts
      summary: Toggle a reaction on a comment
      description: 'Adds the token user emoji reaction to a comment. Toggle semantics: sending the same
        emoji again removes the reaction. Returns the updated reactions of the comment.'
      security:
      - bearerAuth:
        - write
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emoji:
                  type: string
                  minLength: 1
                emojiId:
                  type: string
                  minLength: 1
                emojiSkin:
                  anyOf:
                  - type: number
                    enum:
                    - 0
                  - type: number
                    enum:
                    - 1
                  - type: number
                    enum:
                    - 2
                  - type: number
                    enum:
                    - 3
                  - type: number
                    enum:
                    - 4
                  - type: number
                    enum:
                    - 5
                  - type: number
                    enum:
                    - 6
                emojiNative:
                  type: string
                  minLength: 1
              required:
              - emoji
              - emojiId
              - emojiSkin
              - emojiNative
      responses:
        '200':
          description: Updated reactions of the comment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      reactions:
                        type: array
                        items:
                          type: object
                          properties:
                            emoji:
                              type: string
                            emojiId:
                              type: string
                            emojiSkin:
                              type: integer
                            emojiNative:
                              type: string
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  userId:
                                    type: string
                                  userName:
                                    type: string
                                  createdAt:
                                    type: string
                                    format: date-time
                                required:
                                - userId
                          required:
                          - emoji
                          - emojiId
                          - emojiSkin
                          - emojiNative
                          - users
                    required:
                    - reactions
                required:
                - data
        '400':
          description: Validation error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Post or comment not found
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: pln_*
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
              - VALIDATION_ERROR
              - UNAUTHORIZED
              - FORBIDDEN
              - NOT_FOUND
              - METHOD_NOT_ALLOWED
              - RATE_LIMITED
              - POST_ALREADY_PUBLISHED
              - PUBLISHING_IN_PROGRESS
              - WORKSPACE_LIMIT_REACHED
              - INTERNAL
            message:
              type: string
            requestId:
              type: string
          required:
          - code
          - message
          - requestId
      required:
      - error
